* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searched h3 {
    margin: 10px;
}

.fiveDay {
    display: flex;
    flex-direction: row;
}

.card {
    height: 375px;
    width: 175px;
    margin: 5px;
    background-color: lightcoral;
}